<div class="container">
    <div class="col-10">
    <%= render 'shared/errors' %>
    <%= form_with(model: @article, class:"shadow p-3 mb-3 bg-info rounded", data: { turbo: false }, local: true) do |f| %>
        <div class="row g-3 align-items-center">
            <%= f.label :title, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title of Article" %>
            </div>
        </div>
        <div class="row g-3 align-items-top mt-4">
            <%= f.label :description, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
                <%= f.text_area :description, rows:10, class: "form-control shadow rounded", placeholder: "Description of Article" %>
            </div>
        </div>
        <div class="text-center mt-3"> 
            <div class="container">    
                <%= f.submit class: "btn btn-outline-light btn-lg" %>
            </div>
        </div> 
        
    <% end %>
    </div>
    <div class="text-center">
        <%= link_to '[Cancel and Return to article list]', articles_path(@article), class: "text-info" %>
    </div>
</div>